.container {
  display: flex;
}
.container > div {
  flex-grow: 1;
  min-height: 200px;
  border: 2px solid black;
  width: 33%;
  padding: 10px;
  margin: 10px;
}
.category {
}
.category > div {
  margin-bottom: 10px;
}
.product {
}
.details {
}
.result {
}
